#viewer p {
	padding: 5px 10px;
	position: relative;
}

#viewer p.vibe3 {
	background: #A3FFA3;
}

#viewer p.vibe2 {
	background: #C8FFC8;
}

#viewer p.vibe1 {
	background: #E6FFE6;
}

#viewer p.vibe-3 {
	background: #FFA3A3;
}

#viewer p.vibe-2 {
	background: #FFC8C8;
}
#viewer p.vibe-1 {
	background: #FFE6E6;
}

#viewer p:hover {
	background: #f6e1df;
}

.vibe-up, .vibe-down {
	background: url(http://c95725.r25.cf3.rackcdn.com/000000-16-2-73.png) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.vibe-down {
	background: url(http://c95725.r25.cf3.rackcdn.com/000000-16-2-74.png) no-repeat;
}

.sharevibe {
	position: absolute;
}