#viewer p {
	padding: 5px 10px;
}

#viewer p:hover {
	background: #EEE;
}

#viewer p.vibe3 {
	background: #A3FFA3;
}

#viewer p.vibe2 {
	background: #C8FFC8;
}

#viewer p.vibe1 {
	background: #E6FFE6;
}

#viewer p.vibe-3 {
	background: #FFA3A3;
}

#viewer p.vibe-2 {
	background: #FFC8C8;
}
#viewer p.vibe-1 {
	background: #FFE6E6;
}